/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

/**
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * Front Page Slide show settings DEFAULT Settings - basically, everything inclusive
 * 
 * This hides the slideshow for mobile (global.css) and reveals for all else 
 * (tablet/destop inside narrow.css/normal.css/wide.css)
 * 
 * This is all inclusive (i.e. same backgrounds, widths, paddings, etc)
 *  
 * Also, the id #nmepscor-front-slider is created in the front page slider view in the body
 * {Hide Title, body and rewrite body to use title/body tokens}
 * 
 * Author cjallen@epscor.unm.edu
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
 /*Reveal image*/
.flexslider .slides img,
.flex-direction-nav{
	display:block;
}

 /*Reveal the transparent slider block*/
#nmepscor-front-slider{
	/*background: url('/sites/all/themes/nmepscor_rii4_1_5/images/bg-front-page.png');*/
    background: rgba(0,0,0,0.75);
	z-index:5;
	width:79%;
	float:right;
	bottom:0;
	right:0;
	position:absolute;
	height:25%;
	padding:1.25em;
	display:block;
	}
	
	
/*Reveal slider title*/	
#nmepscor-front-slider h2 a{
	color: #faaa14;
	text-decoration:none;
	display:block;
	margin-bottom:-.75em;
	-webkit-font-smoothing: antialiased;
	 -webkit-text-stroke: 0.35px
}

#nmepscor-front-slider a:link, a:visited {
	color: #faaa14;
	text-decoration:none;
}

#nmepscor-front-slider a:hover {
	text-decoration:underline;
}


#nmepscor-front-slider h2 a:hover{
	color: #33cccc;
}

.front-calendar-title a:link, a:visited {
	color : #336666;

}
	
/*Reveal slider body/paragraph*/	
#nmepscor-front-slider p{
	color:#fff;
	text-decoration:none;
	display:block;
	font-size:90%;
	margin-top:-.65em;
	}	


/*BreadCrumb Styles*/
.inline li, .tabs li, .breadcrumb li {
  list-style: none;
  display: inline;
  margin-right:1.25em;
  padding-right:.5em;
  text-transform:uppercase;
  text-decoration:none;
}

.breadcrumb li:after{
  content: '/';
  /*content:'\25BA';*/
  color: #e6e6e6;
  padding-left:1.5em;
   text-decoration:none;
 }
 
.inline li a, .tabs li a, .breadcrumb li a {
  text-decoration:none;
}

.inline li a:hover, .tabs li a:hover, .breadcrumb li a:hover,
.inline li a:active, .tabs li a:active, .breadcrumb li a:active {
  text-decoration:underline;
  color: #faaa14;
}
/**/

#zone-postscript h2.block-title{
	color:#8e0c0d;	
	padding-left:0;
	font-size : 150%;
}
  

/*============= MENU STYLES=================*/

#region-menu{
	clear:both;

	position:relative;
	right:-12em;
}

#region-menu h2.block-title{
}

div.spring-15-events{
	padding-bottom:.5em;
	padding-top:.5em;
	display:inline-block;
	clear:none;
	font-weight:300;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 0.35px
	height:auto;
	border-bottom: dashed thin #fff;
}

.spring-15-events img{
	padding-bottom:.5em;
	padding-top:.5em;
	display:inline-block;
	clear:none;
	float:left;
}

div.spring-15-events .views-field-title a,
div.spring-15-events .span .views-field-title a{
	padding:0;
	margin:0;	
	color:#faaa14;
	display: inherit;
	font-weight:600;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 0.35px
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/*Twitter and 'recent posts' blocks on blog page spacing*/

#region-sidebar-second, #block-block-4{
	margin-top:3em;
}

.region-sidebar-second h2.block-title {
	font-size: 150%;
	padding-top: .5em;
	padding-bottom: .5em;
	margin-top: 1em;
	margin-bottom: .75em;
	border-bottom: thin solid #8e0c0d;
}


.region-postscript-first-inner h2.block-title,
.region-postscript-second-inner h2.block-title{
	background:#fff;
	padding-top:1em;
	padding-bottom:1em;
	padding-right: 1em;
	padding-left:0;	
	width:90%;
	color: #8e0c0d;
}

.region-postscript-first-inner h2.block-title a,
.region-postscript-second-inner h2.block-title a{
	font-size:115%;
	color: #8e0c0d;
}
